.resume-start {
  height: 60pc;
}

.resume-section-titles {
  font-size: 130%;
  font-family: AppleMyungjo;
  letter-spacing: 8px;
}

.break-lines {
  color: darkslategray;
}

.info-paragraphs {
  font-size: 90%;
  font-family: AppleMyungjo;
}

.experience {
  font-size: 130%;
  letter-spacing: 2px;
  font-family: AppleGothic;
}

.experience-titles {
  font-size: 110%;
  letter-spacing: 1px;
  font-family: AppleMyungjo;
}

.experience-listing {
  font-size: 90%;
  letter-spacing: 1px;
  font-family: AppleMyungjo;
}
