<head></head>

<body>
<div class="resume-description-html">
  <div class="resume-start justify-content-center container-fluid row-lg-6 d-flex">
    <div class="col-sm-3 mt-auto">
      <div id="resume-section" class="pt-5 resume-section-titles">RESUME</div>
    </div>
    <div class="col-sm-6 mt-auto">
      <hr class="bg-dark">
    </div>
  </div>
  <div class=" container-fluid d-flex justify-content-center info-paragraphs row-lg-6 px-5">
    <div class="col-sm-9">
      <div class="experience row pt-3 fs-2"><b>Experience</b></div>
      <div class="experience-titles row"><i>Web Application Development Student Organization</i></div>
      <div class="experience-listing row ps-2">
        <div>
          -
        </div>
        <div class="col">
          Founded first website development organization at LSU,
          to provide real world coding experience to 30+ active members,
          alongside a core team of four officers.
        </div>
      </div>
      <div class="experience-titles row"><i>Podcom.ai</i></div>
      <div class="experience-listing row ps-2">
        <div>
          -
        </div>
        <div class="col">
          Pioneered LLM integration in Python backend,
          enhancing system efficiency and user experience while collaborating on cutting-edge solutions.
        </div>
      </div>
      <div class="experience-titles row"><i>Pampered Chef</i></div>
      <div class="experience-listing row ps-2">
        <div>
          -
        </div>
        <div class="col">
          Engineered cutting-edge features for Pampered Chef website using Mean stack,
          driving user engagement and streamlining e-commerce functionality.
        </div>
      </div>
      <div class="experience row pt-3 fs-2"><b>Projects</b></div>
      <div class="experience-titles row"><i>AI Embeddings Start Up</i></div>
      <div class="experience-listing row ps-2">
        <div>
          -
        </div>
        <div class="col">
          Developed an end to end web app in the Mern stack where users could
          create and embed personal AI by dragging and dropping files.
        </div>
      </div>
      <div class="experience-titles row"><i>Building Dreams</i></div>
      <div class="experience-listing row ps-2">
        <div>
          -
        </div>
        <div class="col">
          Worked in a team of five to build an end to end web application.
          Created front end user interfaces to display computer parts.
          Implemented AI integration, allowing the user to ask questions about the best way to build their computers.
        </div>
      </div>
    </div>
  </div>
</div>
</body>
