<head>

</head>

<body>
<main>
  <div class="remove-padding container-fluid text-center">
    <div class="row-md-6 d-flex justify-content-center">
      <div class="remove-padding container-fluid col-md-6 text-left">

        <app-header></app-header>

        <div class="row-md-6 d-flex">
          <b class="big-name pt-5">Ryan Asermely</b>
        </div>
        <div class="row-md-6 container-fluids d-flex">
          <div class="job-title pb-5">Software Engineer</div>
        </div>
        <div class="contact-info row-6 pt-5"><b>Phone</b> (617)756-5021</div>
        <div class="contact-info row-6"><b>Email</b> rasermely13&#64;gmail.com</div>
        <div class="contact-info row-6"><b>Address</b> St Charles, Illinois</div>
        <div class="resume-start contact-info row-lg-6">
          <a href="https://www.linkedin.com/in/ryan-asermely-005322261/">LinkedIn, </a>
          <a href="https://github.com/rasermely1">Github</a>
        </div>

        <app-resume></app-resume>

        <app-about></app-about>

        <app-contact></app-contact>

      </div>
      <div class="container-fluid static-side col-md-6"></div>
    </div>
    <div class="row-md-8 d-flex justify-content-center">

    </div>
  </div>
</main>
</body>
