<head></head>

<body>
<div class="resume-start justify-content-center container-fluid row-lg-6 d-flex">
  <div class="col-sm-3 mt-auto">
    <div id="about-section" class="resume-section-titles pt-5">ABOUT</div>
  </div>
  <div class="col-sm-6 mt-auto">
    <hr class="bg-dark">
  </div>
</div>
<div class="container-fluid d-flex justify-content-center info-paragraphs row-lg-6 px-5">
  <div class="col-10">
    I am Ryan Asermely, a passionate software engineering student at Louisiana State
    University with a strong foundation in web development and AI integration.
    As the founder of a thriving web application development club,
    I bring hands-on experience in organizing coding challenges and fostering collaborative learning environments.
    My internships at Podcom.ai and Pampered Chef have sharpened my skills in full-stack development,
    with a focus on building cutting-edge tools and features that enhance user experiences.
    Whether it’s leading teams, integrating AI solutions, or optimizing systems,
    I am driven by the desire to solve complex problems and create impactful solutions.
  </div>
</div>
</body>
