<head></head>

<body>
<div class="resume-start justify-content-center container-fluid row-lg-6 d-flex">
  <div class="col-sm-3 mt-auto">
    <div id="skills-section" class="resume-section-titles pt-5">SKILLS</div>
  </div>
  <div class="col-sm-6 mt-auto">
    <hr class="bg-dark">
  </div>
</div>
<div class="container-fluid d-flex justify-content-center info-paragraphs row-lg-6 px-5">
  <div class="col-sm-10">
    <div class="row pt-3">
      <div class="skills-titles col">MEAN Tech Stack</div>
      <div class="skills-explanation col-8">
        Developed in the MEAN tech stack for my internship at Pampered Chef.
        Used angular to write this website.
      </div>
    </div>
    <div class="row pt-3">
      <div class="skills-titles col">MERN Tech Stack</div>
      <div class="skills-explanation col-8">
        Used the MERN tech stack to make LLM embeddings start up.
      </div>
    </div>
    <div class="row pt-3">
      <div class="skills-titles col">Python</div>
      <div class="skills-explanation col-8">
        Wrote python while working at Podcom.ai, used python to embed and fine tune llm's
      </div>
    </div>
    <div class="row pt-3">
      <div class="skills-titles col">AWS</div>
      <div class="skills-explanation col-8">
        Updated deployment system while interning at pampered chef.
        Used AWS to deploy changes to Pampered Chef website.
      </div>
    </div>
    <div class="row pt-3">
      <div class="skills-titles col">Source Control</div>
      <div class="skills-explanation col-8">
        Use Github to work in teams for school projects. Clone repositories,
        commit changes, and resolve merge conflicts. Used Bitbucket at Pampered Chef to do the
        same as well as conducting code reviews.
      </div>
    </div>
    <div class="row pt-3">
      <div class="skills-titles col">Scrum</div>
      <div class="skills-explanation col-8">
        Worked in a scrum team at Pampered Chef, completing tickets,
        participating in sprint reviews and planning poker.
      </div>
    </div>
  </div>
</div>
<div class="resume-start"></div>
</body>
