<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>
<div id="home" class="row-md-6 container-fluid d-flex p-5">
  <button (click)="scrollHome()" class="house-icon btn fs-1 bi bi-house"></button>
  <div class="btn col-5 cv px-0">Curriculum Vitae</div>
  <button (click)="scrollToResume()" class="btn col-2 link-options px-0">resume</button>
  <button (click)="scrollToAbout()" class="btn col-2 link-options px-0">about</button>
  <button (click)="scrollToSkills()" class="btn col-2 link-options px-0">skills</button>
</div>
</body>
