body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: tan;
}

header {
    font-size: 200%;
    color: blueviolet;
    margin-bottom: 10%;
}

p {
    font-size: 110%;
    margin-inline: 30%;
}

button {
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    padding-inline: 1%;
    padding-block: .5%;
    cursor: pointer;
    box-shadow: 1px 1px 4px;
}

button:hover {
    background-color: black;
    color: white;
}